{% include "header.html" %}

<h1>

<br>
</h1>

<body>

<div>
<b><big>Chongqing</big>
</div>

<p1>
<br>
Chongqing is a sprawling municipality at the confluence of the Yangtze and Jialing rivers in southwestern China.<br>
In the city center, the large, domed Great Hall of the People complex stands above pedestrianized People's Square.<br>
On the other side of the square, the Three Gorges Museum features artifacts from the construction of the Three Gorges Dam as well as ancient art.<br>


</p1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="ct1" style="color:white;font-size:30px;">Transportation Map in Chongqing</p>
<img src="static/images/underground.jpg" alt="Chongqing Subway" />
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="ct2" style="color:white;font-size:30px;">Highlights in Chongqing</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style="color:white;font-size:26px;">Ciqikou</p>
<p style="color:white;font-size:20px;">Ciqikou is an ancient town in the Shapingba District of Chongqing Municipality,<br>
  People's Republic of China. It was originally called Longyinzhen and was also known as Little Chongqing.<br>
  According to an old Chinese proverb: "One flagstone road, and one thousand years' Ciqikou".
<br>
<br>
<img src="static/images/cqk.jpg" alt="The Bund" />
<img src="static/images/cqk1.jpg" alt="The Bund" />
<br>
<br>
<p style="color:white;font-size:26px;">Hotpot</p>
<p style="color:white;font-size:20px;">Hot pot, or hotpot is a Chinese cooking method, prepared with a simmering pot of soup stock at the dining table,<br>
   containing a variety of East Asian foodstuffs and ingredients. While the hot pot is kept simmering, <br>
   ingredients are placed into the pot and are cooked at the table, in a manner similar to fondue.
<br>
<br>
<img src="static/images/hotpot.jpg" alt="Tianzifang" />
<img src="static/images/hotpot2.jpg" alt="Tianzifang" />

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style="color:white;font-size:36px;">Welcome to Chongqing!</p>
<br>
<br>
<br>
<br>
</body>

</html>
{% include "footer.html" %}
